{% extends 'layout.html' %}

{% block body %}

    <style>

        .heading{
            text-align: center;

        }
        .info , .steps{
            text-align: center;
            /* padding-left: 30px;
            padding-right: 30px; */
            padding: 30px;
        }

        button{
            text-align: center;
            padding: 12px;
            background-color: blue;
            color: white;
            border-radius: 30px;
            border: none;
        }
        .web-btn{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 13px;
        }
        .yt{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .contact-form{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        li{
            text-align: center;
        }
        a{
            color: white;
            text-decoration: none;
        }
        a:hover{
            color: white;
            text-decoration: none;
        }
     </style>
<div class="heading">

    <h1>Personal Insurance </h1>


</div>
<div class="info">

    <ul>
        <li>
            
            <b> Farmers' Package Insurance: </b>This comprehensive scheme combines crop insurance, livestock insurance, personal accident insurance, and hut insurance.
        </li>
        <br>
        <li>
        
            <b> Kisan Credit Card Scheme: </b> Offers accidental death cover and a personal loan facility.
        </li>
    </ul>

    <br>

</div>

<div class="steps">

    <h3>Steps</h3>
    <b> 1. Check Eligibility: </b>
           <li>Not mandatory for all farmers, only for loanee farmers in notified areas for notified crops.</li>
           <li>Check the PMFBY website or your local bank/agricultural office for eligibility details.</li>
       

<br>
<b>2. Enrolment Period: </b>

<li>Varies depending on your location and crop season.</li>
<li>Typically, enrol before the sowing season, often within a specific window (e.g., 15 days to 1 month).</li> <br>
<b>3. Choose Coverage and Pay Premium: </b>

<li>Different coverage levels (unit area or individual crop) are available.</li>
<li>Premiums are subsidized by the government, you pay a small share.</li>
<li>Payment can be made through your bank or designated channels. </li><br>
<b>4. Get Insured: </b>

<li>Once enrolled and premium paid, you receive a policy document confirming your coverage.</li>
<li>Keep it safe for claim filing later if needed.</li> <br>
<b>5. File Claim in Case of Loss: </b>

<li>Contact your local Gram Panchayat or designated agency if your crop suffers damage due to a covered event.</li>
<li>Provide necessary documents and cooperate with the claim assessment process.</li>
<li>Claim amount will be credited to your bank account if your claim is approved.</li> <br>
</div>



<div class="web-btn">
    <a href="https://www.newindia.co.in/rural/farmers-package-insurance"><button> Insurance Website </button></a>
</div>

<div class="yt">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/HxlgebVBXYA?si=PR8x9KuqaG3mppQ5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

<br>
<br>

<div class="contact-form">

<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSc9Q0bVjrjNX2lsa_Tf_E24zu6tLTPEXdUUgMvZZoZ1ZJ_WHQ/viewform?embedded=true" width="640" height="1126" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</div>




{% endblock %} 









