{% extends 'layout.html' %}

{% block body %}

<style>
.parent{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border: 2px solid green;
    border-radius: 120px;
    margin: 30px;
    background-color: rgba(240,128,128,0.7);
}
button{
    text-align: center;
            padding: 12px;
            background-color: blue;
            color: white;
            border-radius: 30px;
            border: none;
}

</style>


<div class="parent">
    <div class="yt">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/WarhahRH1hw?si=3j9uaKOAqLyg6bNj" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
   <div class="txt">
    <b>Mahatma Phule Janani Suraksha Yojana: </b> Provides financial assistance to pregnant women from rural areas during childbirth.
   </div>
    <div class="btn">
        <button>Visit website</button>
    </div>

</div>
<div class="parent">
    <div class="yt">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/3J7-Nug68iU?si=K0AbfiunZFGH-M4l" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
   <div class="txt">
    <b>Rajiv Gandhi Krushi Sanjivani Yojana: </b> Offers financial support to farmers for irrigation infrastructure development.
   </div>
    <div class="btn">
        <button>Visit website</button>
    </div>

</div>
<div class="parent">
    <div class="yt">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/HLrdMlnAleA?si=9sTwyFtMNq7ZgTCZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
   <div class="txt">
    <b>Shivaji Khel Maidan Yojana: </b> Aims to develop playgrounds in rural areas.
   </div>
    <div class="btn">
        <button>Visit website</button>
    </div>

</div>
<div class="parent">
    <div class="yt">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Pslixh5IC4A?si=pYtPIPjO-kTpnBkr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
   <div class="txt">
    <b>Shabari Khadak Yojana: </b>Provides subsidized LPG connections to rural households.
   </div>
    <div class="btn">
        <button>Visit website</button>
    </div>

</div>
<div class="parent">
    <div class="yt">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/FyUEGiPEmVk?si=XHwVRhn9HWoFfSNF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
   <div class="txt">
    <b>Samarth Bharat Yojana: </b> Supports skill development and employment opportunities for rural youth.
   </div>
    <div class="btn">
        <button>Visit website</button>
    </div>

</div>







{% endblock %} 

